body {
  background-color: #444 !important;
}

#main_banner {
/*  background-image: url("../img/spires.jpg");*/
  background:
     /* top, transparent red, faked with gradient */
     linear-gradient(
       rgba(255, 255, 255, 0.8),
       rgba(255, 255, 255, 0.8)
     ),

     /* bottom, image */
     url("../img/spires.jpg");

  background-size:cover;
background-repeat: no-repeat;
background-position: bottom;
}

#container {

  color: white;
}

#container2 {
  color: black;
}
